
:root {
  --clr-primary-green-400: hsl(172, 67%, 45%);
  --clr-neutral-green-900: hsl(183, 100%, 15%);
  --clr-neutral-grey-500: hsl(186, 14%, 43%);
  --clr-neutral-grey-400: hsl(184, 14%, 56%);
  --clr-neutral-grey-200: hsl(185, 41%, 84%);
  --clr-neutral-grey-50: hsl(189, 47%, 97%);
  --clr-neutral-white: hsl(0, 100%, 100%);
  --ff-base: "Space Mono", monospace;
  --fs-input: 24px;
  --fw-bold: 700;
}

body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  background-color: var(--clr-neutral-grey-200);
  place-items: center;
}

main.main-card {
  width: min(1000px, 100%);
  display: grid;
  padding: 2rem;
  gap: 2rem;
  border-radius: .75rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: var(--clr-neutral-white);
}

.operation-card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.result-card{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 2rem;
  border-radius: .5rem;
  background-color: var(--clr-neutral-green-900);
}